<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}{% endblock title %}</title>
    {% block style %}{% endblock style%}
    {% block head %}{% endblock head %}
</head>
<body id="{% block body_id %}{% endblock %}">
    <header id="header"></header>
    <div class="container">
        <div id="pageheader">
            {% block pageheader %}
            {% endblock pageheader %}
        </div>
        <div class="content">
            {% block content %}
            {% endblock content %}
        </div>
    </div>
</body>
</html>
