{% extends 'countries/base.html' %}

{% block title %}Add Product{% endblock title %}
{% block pageheader %}
    <h3>Capital of Countries</h3>
{% endblock pageheader %}

{% block content %}
	<form action="/countries/question/" method="post">
		{% csrf_token %}
		<p>What is the Capital of....</p>
		{{ form.as_p }}
		<input type="submit" value="Submit" class="btn btn-success">
	</form>
{% endblock content %}
