{% extends 'countries/base.html' %}

{% block title %}Add Product{% endblock title %}
{% block pageheader %}
    <h3>Capital of Countries</h3>
{% endblock pageheader %}

{% block content %}
	<form method="get" action="/countries/question/" class="form-group">
		{{ message }}
		<button type="submit" class="btn btn-success">Go to Question</button>
	</form>
{% endblock content %}
